.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the header */
.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start !important;
  justify-content: start !important;
}

/* --------- Non-flexbox related styles --------- */
.child {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0.5%; */
  padding: 20px;
  font-size: 20px;
  color: #fbf3f2;
  /* background-color: #272838; */
  border-radius: 1px;
  border: 1px solid #fa991c;
  /* border: 1px solid #1C768F; */
  margin: 4px;
}

body {
  background-color: #032539;
  font-family: "poppins";
  font-size: 18px;
  font-weight: 400;
}

.sidebar {
  display: flex;
  align-items: start;
  /* background-color: #1c768f; */
}

ul {
  list-style: none;
  padding: 0;

  width: 100%;
}

li {
  margin: 8px 0;
  width: 100;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #ecf8fd;
  transition: all 1s ease-in 100ms;
}

a:hover {
  color: #fa991c;
  background-color: #ecf8fd;
  
}
table {
  font-family: "poppins";
  border-collapse: collapse;
  width: 100%;
}
td,th{
  border: 1px solid #ecf8fd ;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #1c768f;
}

.input-group {
  background-color: #2c2c2c11;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

input{
  border: 2px solid gray;
  border-radius: 4px;
  padding: 8px 16px;
}

button {
  padding: 8px 16px;
}
